# Security
Secure/*

# Data files
Data/**
!Data/**/*.py
!Data/**/*.ipynb

# EDA visuals & additional data files
EDA_and_model_training/**.html
EDA_and_model_training/**.geojson

# macOS junk
.DS_Store